{% extends 'base.html' %}

{% block content %}


<form class="add-book" method="POST">
        <h3>{% block title %} Add a New Book {% endblock %}</h3>

        <input type="text" name="title" placeholder="Book title...">
       <br>
        <label for="list_choice" class="list-choice">Choose a list:</label>
        <select name="list_choice">
            <option value="To Read">To Read</option>
            <option value="Reading">Reading</option>
            <option value="Read">Read</option>
        </select>
        <input type="submit" value="Add">
    </form>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
        {% for message in messages%}
        <p style="color: rgb(211, 0, 0)">{{message}}</p>
        {%endfor%}
        {%endif%}
    {%endwith%}
      </div>
 {% endblock %}
