{% extends 'base.html' %}

{% block content %}
        <form class="edit-book" method="POST">
           <h3>

            {% block title %} Edit Details {% endblock %}
           </h3>
           <br>
            <label for="edit-book">Book Title:
            <input type="text" value="{{book.title}}" name="title">
                <br>
                Current Book List: <strong>{{book.list_choice}} </strong>
                <hr>
            <label for="list_choice">Confirm or update list choice:</label>
            <br>

            <select name="list_choice">
                    <option value="To Read">To Read</option>
                   <option value="Reading">Reading</option>
                   <option value="Read">Read</option>
            </select>
            <input type="submit" value="Save">
        </form>

      </div>
      {% endblock %}
